// ======================================
//  Mixins
// ======================================

// === Media Queries ===
@mixin mq($break) {
  // Variables for grabbing $breakpoints Sass map values
  $value: map-get($breakpoints, $break);
  $sm: map-get($breakpoints, "sm");

  // Check for errors
  @if $value == null {
    @error "'#{$break}' is not a valid breakpoint name.";
    // @warn "'#{$break}' is not a valid breakpoint name.";
  }

  // Use "max-width" if value passed to $break is less than "sm" (i.e. smaller than tablet portrait)
  @else if $value < $sm {
    @media (max-width: $value) {
      @content;
    }
  }

  // Use "min-width" if value passed to $break is anything larger than "xs" (i.e. smartphone width)
  @else {
    @media (min-width: $value) {
      @content;
    }
  }

} // End of mq mixin

// === Transition ===
@mixin transition (
  // Variables
  $prop:all,
  $dur: 0.25s,
  $tim: ease-in) {
    // Properties
  transition-property: $prop;
  transition-duration: $dur;
  transition-timing-function: $tim;
}

// === Flexbox ===
@mixin flexbox(
  // Variables
  $disp: flex,
  $dir: null,
  $wrap: null,
  $just: null,) {
  // Properties
  display: $disp;
  flex-direction: $dir;
  flex-wrap: $wrap;
  justify-content: $just;
}

// == Layout ==
@mixin center {
  margin-left: auto;
  margin-right: auto;
}

@mixin center-vertical {
  margin-top: auto;
  margin-bottom: auto;
}

// == Buttons ==
@mixin button($map) {
  @each $btn-type, $color in $map {
    &-#{$btn-type} {
      background-color: $color;
      border: 0;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
      font-size: 1.2em;
      padding: 0.75em;
      text-align: center;
      text-transform: uppercase;
      margin: 0.5em;
      width: 100%;
      @include transition($dur:0.15s);

      &:hover,
      &:focus {
        background-color: darken($color, 15);
      }

      @include mq("sm") {
        margin: 1em;
        width: 20%;
      }
    }
  }
}

// == Grid Examples ==
@mixin grid-examples($map) {
  @each $col, $color in $map {
    &-#{$col} {
      background-color: $color;
      border-radius: 5px;
      font-size: 1.2em;
      font-weight: bold;
      padding: 1em;
      margin-bottom: 1em;
    }
  }
}
