/* ======================================
    Forms Styles
   ====================================== */
.form {
  @include center;
  width: 80%;
  @include mq("sm") {
    margin-left: auto;
  }
  &__label--hidden {
    visibility: hidden;
    }
  &__input {
    border: 0;
    border-bottom: 3px solid $color-primary;
    display: block;
    margin-bottom: 1em;
    padding: 1em;
    width: 90%;
    @include center;
  }
  & .btn--default[type="submit"] {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}
