/* ======================================
    Header Styles
   ====================================== */

.header {
  background-color: $color-primary;
  // height: fit-content;
  // height: -moz-fit-content;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 10000;
  @include flexbox($dir:row);
  & * {
    // @include center-vertical;
  }
  & div {
    // @include center-vertical;
  }
}

.app-name {
  @include flexbox($dir:row);
  color: #fff;
  font-size: 2em;
  // line-height: 1.0;
  // padding: 1em;
  margin: 1em;
  @include center-vertical;
  @include mq('xs') {
    font-size: 1.5em;
    margin-right: 0;
  }
}

.app-login {
  @include flexbox($dir:row);
  color: #fff;
  font-size: 2em;
  padding: 1em;
  margin-left: auto;

  @include mq('xs') {
    font-size: 1.5em;
  }
}

.notifications {
  fill: #fff;
  @include center-vertical;
  margin-right: 1em;
}

.avatar-div {
  border-left: 2px solid $color-accent;
  padding-left: 1em;
}

.avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  @include center-vertical;
}

.user-name {
  @include center-vertical;
  margin-left: 0.5em;
}
