/* ======================================
    Navigation Styles
   ====================================== */
.nav-icon {
  fill: $nav-icon-color;
}

.nav {
  background-color: $color-accent;
  @include flexbox($dir:row, $just:space-evenly);
  height: fit-content;
  height: -moz-fit-content;
  width: 100%;

  z-index: 100;

  @include mq('sm'){
    flex-direction: column;
    justify-content: flex-start;
    width: fit-content;
    width: -moz-fit-content;
    height: auto;
  }

}

.nav-item {
  height: fit-content;
  height: -moz-fit-content;
  padding: 0.5em;

  @include transition($dur:0.1s);

  @include mq('sm'){
    padding: 1.8em;
  }

  &.active {
    border-bottom: 3px solid $link-color-active;
    
    @include mq("sm") {
      border-bottom: none;
      border-left: 3px solid $link-color-active;
    }

    & .nav-icon {
      fill: #fff;
    }

  }

  &:hover .nav-icon,
  &:focus .nav-icon,
  &:active .nav-icon {
    fill: #fff;
  }

}
