/* ======================================
    Navigation Styles
   ====================================== */
.nav-icon {
  fill: $nav-icon-color;
}

[role="navigation"] {
  @include center;
}

.nav {
  @include flexbox($dir:column, $wrap:wrap);
  @include mq("sm") {
    @include flexbox($dir:row);
  }
  background-color: $color-accent;
  width: 60px;
  height: 100vh;
}

.nav__item {
  height: fit-content;
  height: -moz-fit-content;

  // @extend %nav-item;
  @include transition($dur:0.1s);


  // @include mq("sm") {
  //   padding: 0.5em;
  //   margin-left: 0.5em;
  // }
  &.active {
    border-left: 2px solid $link-color-active;
  }

  & a {
    color: $text-color;
    display: block;
    font-weight: 200;
    text-decoration: none;
  }
  &:active a,
  &:focus a,
  &:hover a {
    color: #fff;
  }
}
