/* ======================================
    Navigation Styles
   ====================================== */
[role="navigation"] {
  @include center;
}

.nav {
  @include flexbox($dir:column);
  @include mq("sm") {
    @include flexbox($dir:row);
  }
}

.nav__item {
  @extend %nav-item;
  @include transition($dur:0.1s);

  @include mq("sm") {
    padding: 0.5em;
    margin-left: 0.5em;
  }

  & a {
    color: $text-color;
    display: block;
    font-weight: 200;
    text-decoration: none;
  }
  &:active a,
  &:focus a,
  &:hover a {
    color: #fff;
  }
}
