/* ======================================
    Page Notifications Styles
   ====================================== */

.notif-alert {
   color: white;
   background-color: $color-primary;
   border-radius: 5px;
   padding: 0.5em;
   margin: 2em auto;
   width: calc(100% - 100px);

   @include flexbox;
   align-items: center;

   & .close-x {
     cursor: pointer;
     font-size: 2em;
     font-weight: bold;
     margin-left: auto;
   }
}
